.client-prioritisation{
	display : flex;
	flex-direction: column;
	flex-grow : 1;
	overflow : auto;
	padding: 25px 50px;
	.si-titled-card > .si-picture {
		bottom: -6rem;
		margin-top: -13rem;
		margin-bottom: 3rem;
	}
	.clients-filters{
		display: flex;
		flex-wrap: wrap;

		& > * {
			margin-bottom: 1rem;
		}
	}
	.client-card{
		width: 350px;
		flex-grow: 1;
		h3 {
			overflow: hidden;
			.client-card-title{
				text-overflow: ellipsis;
				white-space: nowrap;
				font-weight: 400; 
				font-size: 20px;
				color: @secondary-color;
				overflow: hidden;
			}
			.client-card-industry{
				color: #A9A9A9;
				font-size: 12px;
			}
		}
		.client-card-content{
			display: flex;
			flex-direction: column;
			align-items: center;
			.client-card-item-name {
				margin-top: 3px;
				color: #A9A9A9;
			}
			.client-card-items{
				font-weight: 400;
				color: @secondary-color;
			}
		}
		.client-card-kpi-container{
			margin-top: 2rem;
			display: flex;
			justify-content: space-evenly;
			.client-card-kpi{
				border-right: 1px solid #CCC;
				text-align: center;
				padding: 0px 10px;
				width: 100%;
				.client-card-kpi-value{
					font-size: 22px;
					font-weight: 400;
					color: @secondary-color;
					margin-bottom: 5px;
				}
				.client-card-kpi-name{
					font-size: 10px;
					color: #6F747A;
				}
			}
		}
	}
}