.dashboard-item{
	.dashboard-title{
		color: #565656;
		font-size: 16px;
		font-weight: 400;
		padding-bottom: 1rem;
		padding-left: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		border-bottom: 1px solid #D3D3D3;
	}
}
.dashboard-tab{
	border-top: 1px solid #d3d3d3;
	padding-top: 0.5rem;
}

.dashboard-section-header{
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	.dashboard-section-title{
		margin-right: 0.7rem;
		color: #565656;
		font-size: 16px;
		font-weight: 500;
	}
}
.dashboard-top-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem;
}
.ant-tabs-bar{
	margin: 0px;
}
.si-loading{
	z-index: 100;
}

.recharts-text.recharts-cartesian-axis-tick-value {
    font-size: 12px;
}

.recharts-text.recharts-label {
    font-size: 12px;
}
.dashboard-filter-text{
	font-size: 1rem;
	margin-bottom: 10px;
	margin-left: 12px;
	margin-right: 6px;
}
.dashboard-tab{
	.dashboard-filter-text{
		margin-bottom: 6px;
	}
}
.effectiveness-filter{
	.dashboard-filter-text{
		margin-bottom: 10px;
	}
}