@import "./cross-client-analysis.less";
@import "./client-prioritisation.less";
@import "./programme-info.less";
@import "./prioritisation.less";
@import "./summary.less";
@import "./notes.less";
@import "./stories.less";
@import "./dashboard.less";
.analysis-tab-title{
	font-size: 24px;
	font-weight: 400;
	 color: #224B81;
}
.analysis-tab-content{
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
}
.kpi-charts{
	display: flex;
	.kpi{
		padding: 1rem;
		width: 100%;
		.kpi-title{
			font-size: 16px;
			height: 3rem;
		}
		.kpi-data{
			text-align: center;
			font-size: 3rem;
		}
		.kpi-footer{
			color: #909090;
			margin-top: 2rem;
			margin-right: 1rem;
			padding-bottom: 1rem;
		}
	}
}