.programme-info{
	flex-grow : 1;
	overflow : auto;
	display: flex;
	flex-direction : column;
	padding: 25px 50px 50px 50px;
	.si-titled-card > .si-picture {
		bottom: -6rem;
		margin-top: -15rem;
		margin-bottom: 3rem;
	}
	.client-card{
		width: 450px;
		flex-grow: 1;
		h3 {
			overflow: hidden;
			.client-card-title{
				text-overflow: ellipsis;
				white-space: nowrap;
				font-weight: 400; 
				font-size: 20px;
				color: @secondary-color;
				overflow: hidden;
			}
			.client-card-industry{
				color: #A9A9A9;
				font-size: 12px;
			}
		}
		.client-card-content{
			display: flex;
			flex-direction: column;
			align-items: center;
			.client-card-item-name {
				margin-top: 3px;
				color: #A9A9A9;
			}
			.client-card-items{
				font-weight: 400;
				color: @secondary-color;
			}
		}
		.custodian-row{
			display: flex;
			margin-top: 2rem;
			justify-content: space-between;
			.custodian-section{
				display: flex;
				flex-direction: column;
				align-items: center;
				.custodian-title{
					color: #2799F2;
					text-align: center;
					font-size: 10px;
					margin-bottom: 5px;
				}
				.custodian-name{
					color: #B7B7B7;
					font-weight: 500;
					font-size: 12px;
					margin-top: 5px;
				}
				.custodian-email{
					color: #B7B7B7;
					font-weight: 300;
					font-size: 12px;
					margin-top: 2px;
				}
			}
		}
	}
	.product-title{
		color: #909090;
		font-weight: 400;
		font-size: 20px;
	}
	.product-section{
		display: flex;
		flex-wrap: wrap;
		.product-cards{
			width: 150px;
			height: 150px;
			padding: 2rem;
			margin: 1rem 1rem 0 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			.product-icon{
				padding: 1rem;
				width: 100%;
				border-bottom: 1px solid #CCC;
			}
			.product-name{
				text-align: center;
				margin-top: 2rem;
				color: #808080;	
				font-size: 1.2rem;
			}
		}
	}
}
.programme-modal {
	padding: 0 3rem;
	line-height: 2;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	  }
	  
	  li {
		text-indent: -1.1rem;
	  }
	  
	  li::before {
		content: "• ";
		margin-right: 0.5rem;
		color: @primary-color; /* or whatever color you prefer */
	  }
}