.summary{
	flex-grow : 1;
	overflow : auto;
	display: flex;
	flex-direction : column;
	padding: 25px 50px 50px 50px;
	.summary-top-bar{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.new-risk-tag{
			width: 120px !important;
			height: 50px !important;
			font-size: 14px;
			padding: 1rem;
			background-color: @secondary-color;
		}
	}
	.summary-filters{
		display: flex;
		margin-bottom: 1rem;
	}
	.summary-content{
		display: flex;
		flex-direction: column;
		overflow: auto;
		align-items: center;
		padding: 1px;
		margin-top: 1rem;
		.summary-content-title{
			padding-top: 0.5rem;
			padding-left: 1rem;
			padding-bottom: 1rem;
			color: #565656;
			font-weight: 400;
			font-size: 16px;
			border-bottom: 1px solid #CCC;
		}
		.summary-item{
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid #CCC;
			padding: 1rem;
			.summary-item-date{
				font-size: 10px;
				color: #A6A6A6;
				margin-left: 1rem;
				display: flex;
				align-self: flex-end;
			}
			.summary-item-row{
				display: flex;
				.summary-event{
					color: #A6A6A6;
					margin-top: 0.3rem;
					margin-left: 1rem;
				}
				.summary-description{
					color: #5D5D5D;
					margin-top: 0.3rem;
					margin-left: 1rem;
				}
			}
		}
	}
}