@import "./reboot";
@import "./tabbar";
@import "./settings.less";
@import "./analysis/index.less";

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	font-size: 14px;  
}
#nav{
	position: fixed;
	width: 100%;
	z-index: 999;
}
#bread-crumbs{
	position: fixed;
	width: 100%;
	margin-top: 70px;
	z-index: 999;
}
#root {
	display: flex;
  	flex-flow: column;
	flex: 1 0 auto;
	margin-top:140px;
}
.menu {
	position: fixed;
	width: 100%;
	z-index: 1;
}
.si-horizontal-navbar-wrapper .container {
	margin-top: 50px;
}
.app-container{
	background: #F9FBFF;
	display: flex;
	flex-grow: 1;
}
.ant-form-vertical{
	.ant-row{
		display: block;
	}
}
.ant-row{
	display: flex;
	align-items: center;
}
.form_last-form-item{
	margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6, span, p, option, select, ul, li, button, div, input{
	font-family:'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu-item{
	color: grey !important;
	font-weight: 400 !important;
	padding: 1rem;
}
.multi-select-container *{
	line-height: 1.5;
}
.ant-breadcrumb{
	font-weight: 400;
	.ant-breadcrumb-link > a {
		color:white;
	}
	.ant-breadcrumb-separator {
		color: white;
	}
}
.center {
	text-align: center;
}
.si-input{
	height: 1rem !important;
}
.si-profile-picture {
	background-size: contain !important;
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
}
.si-loader-error{
	color: black;
    font-size: 1rem;
}
.si-top-menu-components{
	.active{
		border-color: @secondary-color !important;
		.menu-item {
			color: @secondary-color !important;
		}
	}
}
.no-permission{
	text-align: center;
	margin-top: 3rem;
	font-size: 2rem;
	color: @secondary-color;
}
.si-tabs .tabs-header .tabs-title > .tabs-item {
	color: grey !important;
}
.si-tabs .tabs-header .tabs-title > .tabs-item.active {
	color: #202224 !important;
}